.header-toolbar {
  &-columns-item {
    display: inline-block;
    color: #999;

    .header-toolbar-icon {
      height: 60px;
      padding: 18px 20px 0;
      cursor: pointer;

      &:hover {
        color: #f83;
      }

      &.icon-message_center_action,
      &.icon-personal_center_action {
        color: #f83;
      }
    }
  }

  &-down {
    position: relative;
    display: inline-block;
    .ant-badge {
      vertical-align: baseline;
    }
    .ant-badge-count {
      top: 10px;
      left: 32px;
      line-height: 16px;
      border: 2px solid #fff;
      transform: none;
      transform-origin: unset;

      &.ant-badge-zoom-appear,
      &.ant-badge-zoom-enter {
        animation: none;
      }
    }
    .ant-badge-dot {
      top: 16px;
      left: 45px;
      width: 6px;
      height: 6px;
    }
  }
  &-down-wrapper {
    position: absolute;
    top: 59px;
    right: 0;
    transition: all .1s;
    overflow: hidden;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.06);
    //  模拟导航下遮罩效果
    &:after {
      content: '';
      position: absolute;
      left: -1px;
      right:-1px;
      top:-1px;
      height: 1px;
      box-shadow: 0 1px 2px 0 rgba(0,0,0,0.04);
    }
    &.visible {
      transform-origin: 0% 0%;
      transform: scaleY(1);
      opacity: 1;
    }
    &.hidden {
      transform-origin: 0% 0%;
      transform: scaleY(0.8);
      opacity: 0;
    }
  }
}