:global{
  a{
    transition: initial !important;
  }
}

.logo{
  font-size: 32px;
  color: #f83;
  padding-left: 24px;

  a{
    color: #f83;

    &:hover{
      color: #ff6200;
    };
  }
}

.component{
  font-size: 12px;
  margin-left: 8px;
}

.content-wrap{
  padding: 16px;
}

.nav-text{
  position: relative;
  z-index: 1;
}

:global{
  .ant-menu .ant-menu-item .ant-menu-item-selected{
    color: #fff;

    &:after{
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: #1890ff;
      z-index: 0;
    };
  }

  .ant-menu-item,
  .ant-menu-submenu-title{
    transition: initial !important;
  }
}